table {
    border-collapse: collapse;
}

.tabel0 {
    background-color: rgb(53, 71, 234);
}

.tabel1 {
    background-color: rgb(142, 167, 216);
}

.tabel2 {
    background-color: rgb(142, 167, 216);
}

.tabel3 {
    background-color: rgb(142, 167, 216);
}

.tabel4 {
    background-color: rgb(142, 167, 216);
}

button {
    background-color: rgb(14, 207, 14);
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 190px;
    height: 30px;
}